<!-- set data/config yaml file based on website language -->
{{/*  {{ $config := cond (eq $.Site.Language.Lang "en") "config" (printf "config.%s" $.Site.Language.Lang) }}  */}}
{{ $data := $.Site.Params }}
<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        {{ $name := $data.name | default $.Site.Params.name }}
        {{ $year := dateFormat "2006" now }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <p style="color:white">Made with love by EliteFantasy <i class="fa fa-heart" style="font-size:13px;color:red"></i></p>
        <footer class="bg-white"> -->
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <p class="font-italic text-muted">I Hope You learnt or <br>discovered something from my Digital Garden</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="https://github.com/elitefantasy/elitefantasy" target="_blank" title="Github"><i class="fa fa-github" style="font-size:32px;"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <p class="text-muted mb-4">Made with love in India <i class="fa fa-heart" style="font-size:13px;color:red"></i></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2023 Elitefantasy all rights reserved</p>
      </div>
    </div>
        <!-- <ul>
            {{ if not .IsHome }}
            <li><a href="{{ $.Site.BaseURL}}">{{ i18n "home" }}</a></li>
            {{end}}
            {{- range $data.links | default $.Site.Params.links -}}
            <li><a href="{{.link}}">{{.link_name}}</a></li>
            {{- end -}}
        </ul> -->
    </footer>
</div>
